body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, rgb(46, 46, 46), rgb(134, 134, 134));
}

footer {
  margin-top: 0%;
  background: #2222227a;
  padding: 10px;
  text-align: center;
}

.textArea {
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    font-size: 170%;
}

.TitleText {
    color: rgb(255, 255, 255);
    filter: drop-shadow(-2px 2px 2px rgb(0, 0, 0));
    font-size: 60px;
    text-align: center;
    margin: 20px 0;
    -webkit-filter: drop-shadow(-2px 2px 2px rgb(0, 0, 0));
    font-weight: bold;
    font-family: 'NerdFont', monospace;

}

@font-face {
  font-family: NerdFont; /* set name */
  src: url(fonts/HackNerdFontMono-Regular.ttf); /* url of the font */
}

footer .btn {
  display: inline-block;
  margin-top: 0%;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  background: #0000005d;
  transition: background 0.3s;
  font-family: 'NerdFont', monospace;
}

footer .btn:hover {
  background: #666;
}

/* Цвета для разных кнопок */
.donate { background: #e63946; }   /* Красная */
.github { background: #8d5b5b; }      /* Тёмная */
.download { background: #1d3557; } /* Синяя */
